.bc-form {
  padding: 20px;
  max-width: 362px;
}
.img {
  height: auto;
}

.title {
  width: 600%;
}

.subtitle {
  font-size: 16px;
  margin: 18px 18px 18px 0px;
}

.label {
  margin: 10px 0;
  font-weight: bold;
}

.entry-submit {
  background-color: #1da1f2;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

.entry-submit:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
