.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date,
.mood,
.activities,
.note {
  font-weight: 500;
}
.mood,
.note,
.activities {
  margin: 1px;
}
.title {
  margin: 20px;
}
.card {
  width: 40%;
  padding: 10px;
}

.page-links-container {
  display: flex;
}

.round-button {
  width: 50%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}
.round-button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}

.update-button,
.delete-button {
  margin-right: 5%;
  background-color: #1da1f2;
  text-align: center;
  text-decoration: none;
}
.delete-button {
  background-color: #e22525;
}
.page-links-container {
  margin: 20px;
}
