{% extends 'base.html' %} {% block title %} All Entries {% endblock %} {% block
content %}

<link rel="stylesheet" type="text/css" href="/static/css/all-entries.css" />

<div class="container-fluid">
  <h1 class="title">All Entries</h1>

  {% for entry in entries %}
  <div class="card">
    <div class="text-container">
      <p class="date">{{ entry.date_created.strftime("%B %d, %Y") }} </p>
      <p class="mood"></p>
      <p>Mood: {{ entry.mood.verbose_mood }}</p>
      {% if entry.activities %}
      <p class="activities">Activities</p>
      <ul>
        {% for activity in entry.activities %}
        <li>{{ activity.verbose_category }}</li>
        {% endfor %} {% else %}
        <p>No activities recorded for this entry</p>
        {% endif %}
      </ul>
      {% if entry.description %}
      <p class="note">Note:</p>
      <p> {{ entry.description }}</p>
      {% endif %}
    </div>
    <div class="page-links-container">
      <a href="/update-entry/{{ entry.entry_id }}" class="update-button round-button">Update Entry</a> <br />
      <a href="/delete-entry/{{ entry.entry_id }}" class="delete-button round-button">Delete Entry</a>
    </div>
  </div>
  <!--.card-->
  {% endfor %}
  <div class="page-links-container">
    {{ pagination.links }}
  </div> </div
><!--.container-fluid-->
{% endblock %}
