{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}

<h1>Here are all your entries:</h1>


{% for entry in entries %}
<p>Date: {{ entry.date_created.strftime("%A, %B %d, %Y") }} <br> <br> Mood: {{ entry.mood.verbose_mood }} <br> <br>
Activity/ Activities:
<ul> {% for activity in entry.activities %}

<li>{{ activity.verbose_category }}</li>

{% endfor %}
</ul>
<a href="/update-entry/{{entry.entry_id}}">Update Entry</a> <br>
<a href="/delete-entry/{{entry.entry_id}}">Delete Entry</a>
</p>
<hr>
{% endfor %}


{% endblock %}