<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% endwith %}

    {% block content %} BODY CONTENT GOES HERE {% endblock %}
</body>

</html>