{% extends 'base.html' %} {% block title %} Homepage {% endblock %} {% block
content %}

<link rel="stylesheet" type="text/css" href="/static/css/donut-chart.css" />

{% if has_entries == True %}
<h1 class="title">Total Mood Count</h1>
<!-- doughnut chart canvas element -->
<canvas
  data-labels='{{ labels | tojson }}'
  
  data-data='{{ values | tojson }}'
  id='myDoughnutChart'
  width='600'
  height='400'
  class="canvas-chart"
></canvas>
<div id="lineLegend" data-label='{{ legend }}' class="chart-legend"></div>

{% else %}
<h1>Looks like you do not have enough entries to generate a chart.</h1>
{% endif %}

<script src='/static/donut-chart.js'></script>

{% endblock %}
