{% extends 'base.html' %}
{% block title %} Mood Over Time {% endblock %} 
{% block content %} 

{% if has_entries == True %}

<div class="container-fluid">
  <div class="row bc-chart"></div>
  <div class="col text-center">
    <h1>Mood Over Time</h1>
    <canvas
      data-labels='{{ labels | tojson }}'
      data-label='{{ legend }}'
      data-data='{{ values | tojson }}'
      id='myChart'
      width='600'
      height='400'
      class="text-center"
    ></canvas>

    {% else %}
    <h1>Looks like you do not have enough entries to generate a chart.</h1>
    {% endif %}

    <script src='/static/line-chart.js'></script>
    {% endblock %}
  </div>
</div>
