{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}

<h2>Update Your Entry:</h2>

<h3>Your mood for {{ entry.date_created.strftime("%A, %B %d, %Y") }} was {{ entry.mood.verbose_mood }}!</h3>

<p>Your activity/ activities:</p>
    <ul>
    {% for activity in entry.activities %}
            <li><strong>{{ activity.verbose_category}}</strong></li> 
    {% endfor %}
    </ul>

<form action="/modified-entry/{{ entry.entry_id}}" method="POST">
    <h4>Delete Activity/ Activities: </h4>

    {% for activity in entry.activities %} 

    {{ activity.verbose_category }} 
        <input type="checkbox" name= "activity_category" value="{{activity.activity_category_id }}">
    {% endfor %}

    <br> <br>

    <input type="submit" name="submit">
</form>

<form action="/delete-note-entry/{{ entry.entry_id}}" method="POST">

{% if entry.description %}
<h4>Delete Note:</h4>
{{ entry.description }}
<input type="submit" name="Delete" name="description" value="Delete">
{% endif %}
 <br> <br>

</form>

<hr>
<h4>Update Entry:</h4>
<form action="/updated-entry/{{ entry.entry_id }}" method="POST">
    Select a mood: <br> <br>

    {% for mood in moods %}

    {{ mood.verbose_mood }} <input type="radio" name="mood" value="{{ mood.mood_id }}">

    {% endfor %}

    <br> <br>
    Select activities: <br> <br>

    {% for activity in activities %} 

    {{ activity.verbose_category }} 
        <input type="checkbox" name= "activity_category" value="{{activity.activity_category_id }}">
    {% endfor %}

    <br> <br>
    Optional Note: <input type="text" name="description" placeholder="2 hour excercise class, drinks with friends" size="40">

    <br> <br>
    <input type="submit" name="submit">

</form>
{% endblock %}
