{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}

<form action="/add-entry" method="POST">
    Select a mood: <br> <br>

    {% for mood in moods %}

    {{ mood.verbose_mood }} <input type="radio" name="mood" value="{{ mood.mood_id }}">

    {% endfor %}

    <br> <br>
    Select activities: <br> <br>

    {% for activity in activities %} 

    {{ activity.verbose_category }} <input type="checkbox" name= "activity_category" value="{{ activity.activity_category_id }}">

    {% endfor %}

    <br> <br>
    <input type="submit" name="submit">

</form>

<a href="/all-entries">View All Entries</a>

{% endblock %}