{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/homepage.css">
<header>
    <nav class="sidebar">
        <a href="#" class="close">x</a>
        <ul>
            <li><a href="/all-entries">View All Entries</a></li>
            <li><a href="/brain-dump/{{ user.user_id }}">Add New Brain Dump</a></li>
            <li><a href="/all-brain-dumps/{{ user.user_id }}">All Brain Dumps</a></li>
            <li><a href="/update-mood-enhancers/{{ user.user_id }}">View Mood Enhancers</a></li>
            <li> <a href="/associated-moods/{{ user.user_id }}">Associated Activities and Mood</a></li>
            <li><a href="/line-chart/{{ user.user_id }}">View Mood Over Time</a></li>
            <li><a href="/donut-chart/{{ user.user_id }}">View Total Mood Count</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <button type='button' class="hamburger">Menu</button>

    <h1>Track Your Mood and Activities</h1>
</header>
{% if show_form == True %}
<h2>Add an entry for today!</h2>
<h3>Today's Date: <br>{{ now }}</h5>
    <form action="/add-entry" method="POST">
        Select a mood: <br> <br>

        {% for mood in moods %}

        <input type="radio" name="mood" value="{{ mood.mood_id }}"> {{ mood.verbose_mood }}
        <br>
        {% endfor %}

        <br> <br>
        Select activity category: <br> <br>

        {% for activity in activities %}

        <input type="checkbox" name="activity_category" value="{{ activity.activity_category_id }}">
        {{ activity.verbose_category }}
        <br>

        {% endfor %}

        <br> <br>
        Optional Note:
        <br> <br> <input type="text" name="description" placeholder="2 hour excercise class, drinks with friends"
            size="40">

        <br> <br>
        <input type="submit" name="submit">


    </form>
    <br>
    {% elif show_form == False %}
    <h1>You have already entered info for this date!</h1>
    {% endif %}


    
      <script src="/static/homepage.js"></script>

    {% endblock %}